<div class="header">
    <h1 class="title">
        Get In Touch With Us
    </h1>
    <p class="subtitle">
        For More Information About Our Product & Services. Please Feel Free To Drop Us An Email. Our Staff Always Be
        There To Help You Out. Do Not Hesitate!
    </p>
</div>
<div class="content">
    <div class="leftSide">
        <div class="infoItem">
            <div class="label">Address</div>
            <div class="text">236 5th SE Avenue, New York NY10000, United States</div>
            <i class="icon contactPointIcon"></i>
        </div>
        <div class="infoItem">
            <div class="label">Phone</div>
            <div class="text">Mobile: +(84) 546-6789 <br>
                Hotline: +(84) 456-6789</div>
            <i class="icon contactPhoneIcon"></i>
        </div>
        <div class="infoItem">
            <div class="label">Working Time</div>
            <div class="text">Monday-Friday: 9:00 - 22:00 <br>
                Saturday-Sunday: 9:00 - 21:00</div>
            <i class="icon contactClockIcon"></i>
        </div>
    </div>
    <div class="rightSide">
        <form action="">
            <div class="row"><label>
                    Your name
                    <input type="text" placeholder="Abc">
                </label></div>
            <div class="row"><label>
                    Email address
                    <input type="text" placeholder="Abc@def.com">
                </label></div>
            <div class="row"><label>
                    Subject
                    <input type="text" placeholder="This is an optional">
                </label></div>
            <div class="row"><label>
                    Message
                    <textarea name="Text1" cols="40" rows="5" placeholder="Hi! i’d like to ask about"></textarea>
                </label></div>
            <div class="submit">
                Submit
            </div>
        </form>
    </div>
</div>