<header>
    <nav>
        <a href="">
        <div class="logo">
            <span class="logoIcon"></span>
            <div class="title">
                Furniro
            </div>
        </div>
        </a>
        <ul>
            <li class="namedLink"><a routerLink="/">Home</a></li>  
            <li class="namedLink"><a routerLink="/Shop">Shop</a></li>
            <li class="namedLink"><a routerLink="/About">About</a></li>
            <li class="namedLink"><a routerLink="/Contact">Contact</a></li>
        </ul>
        <ul class="linkIconsList">
            <li><a href=""><span class="userIcon linkIcon"></span></a></li>
            <li><a href=""><span class="searchIcon linkIcon"></span></a></li>
            <li><a href=""><span class="heartIcon linkIcon"></span></a></li>
            <li><a href=""><span class="cartIcon linkIcon"></span></a></li>
        </ul>
    </nav>
</header>