:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    overflow-x: scroll;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 34px 96px 112px 96px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .wrapper {
    }

    &.header {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .goTo {
            padding-top: 24px;
            width: 223px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-right: 75px;

            .title {
                font-size: 28px;
                font-weight: 600;
                line-height: 126.5%;
            }

            .link {
                width: fit-content;
                color: #727272;
                font-size: 20px;
                font-weight: 600;
                padding-right: 11px;
                margin-top: 21px;
                border-bottom: 1px solid #727272;
            }
        }

        .productHeaders {
            display: flex;
            flex-direction: row;

            .header {
                padding: 0px 25px 0px 25px;

                &:first-child {
                    padding-left: 0px;
                }

                &>img {
                    width: 280px;
                    height: 177px;
                    border-radius: 10px;
                    background: #F9F1E7;
                }

                .name {
                    margin-top: 18px;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 126.5%;
                }

                .price {
                    margin-top: 5px;
                    font-size: 18px;
                    font-weight: 600;
                }

                .rating {
                    margin-top: 5px;
                    height: 30px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;

                    .value {
                        color: #000000;
                        font-size: 18px;
                        font-weight: 600;
                        margin-right: 4px;
                    }

                    .stars {
                        display: inline-flex;
                        align-items: center;
                        border-right: 1px solid #9F9F9F;
                        padding-right: 5px;
                        margin-right: 9px;

                        .star {
                            display: block;
                            width: 20px;
                            height: 20px;

                            &.full {
                                background-color: #FFC700;
                            }

                            &.half {
                                background: linear-gradient(to right, #FFC700 50%, white 50.001%);
                            }

                            margin-left: 6px;

                            &:first-child {
                                margin-left: 0px;
                            }
                        }
                    }

                    .reviews {
                        font-size: 13px;
                        font-weight: 400;
                        color: #9F9F9F;
                    }
                }


            }

        }

        .addProduct {
            padding: 39px 0px 0px 40px;

            .title {
                font-size: 24px;
                font-weight: 600;
                line-height: 126.5%;
            }

            .select {
                margin-top: 14px;

                ::ng-deep {
                    .mat-select {
                        background-color: #B88E2F;
                        border-radius: 6px;
                        width: 242px;
                        height: 39px;

                        &.changed {
                            .mat-mdc-select-value {

                                color: #fff;
                            }
                        }

                        .mat-mdc-select-value {
                            margin-left: 18px;
                            color: #fff;
                        }

                        .mat-mdc-select-placeholder {
                            color: #fff;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 126.5%;
                            letter-spacing: 0.1em
                        }

                        .mat-mdc-select-trigger {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &::after {
                                content: '';
                                mask-image: url("/assets/icons/arrow.line.bottom.svg");
                                width: 20px;
                                height: 10.5px;
                                display: block;
                                background-color: #fff;
                                background-size: contain no-repeat;
                                position: absolute;
                                right: 15px;
                            }
                        }
                    }
                }
            }

        }
    }

    &.properties {


        .tableWrapper {
            .mat-elevation-z0 {
                .mat-column-0 {
                    width: 300px;
                }

                .text {
                    display: inline-block;
                    max-width: 241px;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 126.5%;
                    text-wrap: wrap;
                    text-overflow: clip;
                }

                ::ng-deep {
                    td.mdc-data-table__cell {
                        width: 334px;
                        max-width: 334px;
                        border-bottom-style: none;
                        padding: 34px 43px 0px 60px;
                        border-left: 1px solid #E8E8E8;
                        overflow-wrap: break-word;
                        word-wrap: break-word;

                        &:first-child {
                            border-left: none;
                            padding-left: 0px;
                            padding-right: 0px;
                            width: 255px;
                            max-width: 255px;
                        }

                        &.section {
                            .text {
                                font-size: 28px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 126.5%;
                                text-transform: capitalize
                            }

                            padding-top: 96px;

                        }
                    }

                    th.mat-header-cell {
                        border-bottom-style: none;
                    }
                }
            }
        }

        .blankbox {
            width: 250px;
        }


    }
}