<div class="row productAbout">
    <div class="leftSide">
        <div class="sideImages">
            <div class="imageWrapper" *ngFor="let image of data.productImages"><img src="{{image.url}}" alt=""></div>
            
        </div>
        <div class="mainImage">
            <img src="{{data.productImages[0].url}}" alt="">
        </div>
    </div>
    <div class="rightSide">
        <div class="col">
            <h2 class="title">{{data.name}}</h2>
            <p class="price">$ {{data.price | numberWithCommas}}</p>
            <div class="review">
                <div class="stars">
                    
                    <i *ngFor="let i of [1,2,3,4,5]" [ngClass]="{'full': i < data.rating && data.rating - i >= 0,
                         'half': data.rating - (i-1) < 1 && data.rating - (i-1) > 0}" class="star starIcon">
                    </i>
                    
                </div>
                <div class="reviewCouter">
                    5 Customer Review
                </div>
            </div>
            <div class="shortDescription">
                {{data.briefDescription}}

            </div>
            <div class="select">
                <div class="label">Size</div>
                <div class="options">
                    <div class="option active">
                        L
                    </div>
                    <div class="option">
                        XL
                    </div>
                    <div class="option">
                        XXL
                    </div>

                </div>
            </div>
            <div class="select">
                <div class="label">Color</div>
                <div class="options color">
                    <div class="option active" style="background-color: blue;">
                    </div>
                    <div class="option" style="background-color: #000000;">
                    </div>
                    <div class="option" style="background-color: #B88E2F;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="actionButtons">
                <div class="quantity">
                    <div class="minus clickable">-</div>
                    <input type="text" value="1">
                    <div class="plus clickable">+</div>
                </div>
                <div class="actionButton clickable">
                    Add To Cart
                </div>
                <div class="actionButton clickable">
                    <span class="plus">+</span>Compare
                </div>
            </div>
        </div>
        <div class="col">
            <div class="bottomInfo">
                <ul>
                    <li><span>SKU</span><span>:</span>
                        <span>{{data.sku}}</span>
                    </li>
                    <li><span>Category</span><span>:</span>
                        <span>{{data.category}}</span>
                    </li>
                    <li><span>Tags</span><span>:</span>
                        <span>Sofa, Chair, Home, Shop</span>
                    </li>
                    <li><span>Share</span><span>:</span>
                        <span class="socialMedia">
                            <i class="facebookIcon"></i>
                            <i class="linkedinIcon"></i>
                            <i class="twitterIcon"></i>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row more">
    <div class="folderTitles">
        <h3 class="title clickable active">Description</h3>
        <h3 class="title clickable">Additional Information</h3>
        <h3 class="title clickable">Reviews [5]</h3>
    </div>
    <div class="folders">
        <div class="folder description">
            <div class="text">
                {{data.description}}
            </div>

            <div class="images">
                <div class="imageWrapper"><img src="/assets/images/fakeDBImages/product/more/cloud sofa.png" alt="">
                </div>
                <div class="imageWrapper"><img src="/assets/images/fakeDBImages/product/more/cloud sofa.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row related">
    <h1 class="title">
        Related Products
    </h1>
    <app-product-list [data]="(ralatedProducts | async)" [quantity]="4"></app-product-list>
    <div class="showMore clickable">
        Show More
    </div>
</div>