<main>
    <div class="row crumbBox" *ngIf="crumbBarType == enums.crumbBarTypes.big">
        <span class="logoIcon"></span>
        <p class="title">Product Comparison</p>
        <nav class="crumbs">
            <ol>
                <li class="crumb"><a href="#">Bikes</a> <i class="arrowIcon right"></i></li>
                <li class="crumb"><a href="#">BMX</a> <i class="arrowIcon right"></i></li>
                <li class="crumb">Jump Bike 3000</li>
            </ol>
        </nav>
    </div>
    <div class="row smallCrumbBox " *ngIf="crumbBarType == enums.crumbBarTypes.small">
        <nav class="crumbs">
            <ol>
                <li class="crumb"><a href="#">Bikes</a> <i class="arrowIcon right"></i></li>
                <li class="crumb"><a href="#">BMX</a> <i class="arrowIcon right"></i></li>
                <li class="crumb">Jump Bike 3000</li>
            </ol>
        </nav>
    </div>
    <router-outlet></router-outlet>
    <div class="row warranty" *ngIf="isWarrantyBarActive">
        <div class="item">
            <i class="icon tropyIcon"></i>
            <div class="text">
                <p class="title">High Quality</p>
                <p class="subtitle">crafted from top materials</p>
            </div>
        </div>
        <div class="item">
            <i class="icon shippingIcon"></i>
            <div class="text">
                <p class="title">Warranty Protection</p>
                <p class="subtitle">Over 2 years</p>
            </div>
        </div>
        <div class="item">
            <i class="icon guaranteeIcon"></i>
            <div class="text">
                <p class="title">Free Shipping</p>
                <p class="subtitle">Order over 150 $</p>
            </div>
        </div>
        <div class="item">
            <i class="icon customerSupportIcon"></i>
            <div class="text">
                <p class="title">24 / 7 Support</p>
                <p class="subtitle">Dedicated support</p>
            </div>
        </div>
    </div>
</main>