<section class="row discover">
    <div class="box">
        <p>
            New Arrival
        </p>
        <h1>
            Discover Our <br />
            New Collection
        </h1>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.
        </p>
        <div class="button clickable">
            BUY NOW
        </div>
    </div>
</section>
<section class="row browseRange">
    <h2 class="title2">
        Browse The Range
    </h2>
    <p class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <div class="items">
        <a href="">
            <div class="item clickable">
                <div class="imgWrapper"><img src="/assets/images/diningRoom.png" alt=""></div>
                <p>Dining</p>
            </div>
        </a>
        <a href="">
            <div class="item clickable">
                <div class="imgWrapper"><img src="/assets/images/livingRoom.png" alt=""></div>
                <p>Living</p>
            </div>
        </a>
        <a href="">
            <div class="item clickable">
                <div class="imgWrapper"><img src="/assets/images/bedRoom.png" alt=""></div>
                <p>Bedroom</p>
            </div>
        </a>
    </div>
</section>
<section class="row productList">
    <h1 class="title1">Our Products</h1>
    <app-product-list [quantity]=8 [data]=this.data></app-product-list>
    <div class="button clickable">Show More</div>
</section>
<section class="row inspiration">
    <div class="titleSide">
        <h1 class="title1">
            50+ Beautiful rooms <br />
            inspiration
        </h1>
        <p class="subtitle">
            Our designer already made a lot of beautiful prototipe of rooms that inspire you
        </p>
        <div class="button clickable">
            Explore More
        </div>
    </div>
    <div class="slider">
        <app-home-slider [slides]=this.slides>
        </app-home-slider>
    </div>
</section>
<section class="row hashtag">
    <h2 class="subtitle">
        Share your setup with
    </h2>
    <h1 class="title1">
        #FuniroFurniture
    </h1>
    <div class="collage">
        <div class="row">
            <div class="col">
                <div class="row top">
                    <img src="assets/images/collage/Rectangle 36.png" alt="" style="width: 274px; height: 382px;">
                    <img src="assets/images/collage/Rectangle 38.png" alt="" style="width: 451px; height: 312px;">
                </div>
                <div class="row bottom">
                    <img src="assets/images/collage/Rectangle 37.png" alt="" style="width: 381px; height: 323px;">
                    <img src="assets/images/collage/Rectangle 39.png" alt="" style="width: 344px; height: 242px;">
                </div>
            </div>
            <div class="col">
                <img src="assets/images/collage/Rectangle 40.png" alt="" style="width: 295px; height: 392px;">
            </div>
            <div class="col">
                <div class="row top">
                    <img src="assets/images/collage/Rectangle 43.png" alt="" style="width: 290px; height: 348px;">
                    <img src="assets/images/collage/Rectangle 45.png" alt="" style="width: 425px; height: 433px;">
                </div>
                <div class="row bottom">
                    <img src="assets/images/collage/Rectangle 41.png" alt="" style="width: 178px; height: 242px;">
                    <img src="assets/images/collage/Rectangle 44.png" alt="" style="width: 258px; height: 196px;">
                </div>
            </div>
        </div>
    </div>
</section>