<div class="row discover">
    <div class="box">
        <p>
            New Arrival
        </p>
        <h1>
            Discover Our <br/>
            New Collection
        </h1>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.
        </p>
        <div class="button clickable">
            BUY NOW
        </div>
    </div>
</div>
<div class="row browseRange">
    <h2 class="title2">
        Browse The Range
    </h2>
    <p class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <div class="items">
        <a href=""><div class="item clickable"><div class="imgWrapper"><img src="/assets/images/diningRoom.png" alt=""></div><p>Dining</p></div></a>
        <a href=""><div class="item clickable"><div class="imgWrapper"><img src="/assets/images/livingRoom.png" alt=""></div><p>Living</p></div></a>
        <a href=""><div class="item clickable"><div class="imgWrapper"><img src="/assets/images/bedRoom.png" alt=""></div><p>Bedroom</p></div></a>
    </div>
</div>