@mixin icon($filename){
    mask-image: url("./icons/#{$filename}");
}

[class$="Icon"]{
    display: block;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: black
}
.logoIcon{
    @include icon("logo.svg");
    background-color: #b88e2f;
}
.cartIcon{
    @include icon("cart.svg");
}
.heartIcon{
    @include icon("heart.svg")
}
.searchIcon{
    @include icon("search.svg")
}
.userIcon{
    @include icon("user.svg")
}