// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$furnitureShop-primary: mat.define-palette(mat.$indigo-palette);
$furnitureShop-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$furnitureShop-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$furnitureShop-theme: mat.define-light-theme((color: (primary: $furnitureShop-primary,
                accent: $furnitureShop-accent,
                warn: $furnitureShop-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($furnitureShop-theme);

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('./fonts/Montserrat-ExtraBold.ttf');
}


@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('./fonts/Poppins-Bold.ttf');
}

body {
    padding: 0px;
    margin: 0px;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.clickable {
    cursor: pointer;
    user-select: none;
}

// Swiper ---------
// Should be styled here
$gray: #616161;
$lightGray: #D8D8D8;
$primary: #B88E2F;
$white: #FFFFFF;

.swiper {
    padding-right: 50px;

    img {
        object-fit: cover;
    }

    &.primary {

        width: 448px;
        height: 486px;
        overflow-y: visible;

        .swiper-pagination {
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: left;
            bottom: -50px;
            left: 0px;

            .swiper-pagination-bullet {
                position: relative;
                width: 27px;
                height: 27px;
                border-radius: 50%;
                background-color: transparent;
                transition-duration: 0.2s;
                border: 1px solid transparent;
                opacity: 1;

                &::after {

                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    background-color: $lightGray;
                }

                &.swiper-pagination-bullet-active {
                    border: 1px solid $primary;

                    &::after {
                        background-color: $primary;
                    }
                }
            }
        }

        .swiper-button-next {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 48px;
            height: 48px;
            right: 55px;
            border-radius: 50%;
            filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.16));
            background-color: $white;

            &::after {
                display: none;
            }

            .arrowIcon.right {
                width: 28px;
                height: 28px;
                background-color: $primary;
                mask-size: cover;
            }
        }


    }

    &.secondary {
        width: 404px;
        height: 582px;

        .swiper-slide {
            position: relative;

            .slide-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 24px;
                left: 24px;
                width: 217px;
                height: 130px;
                background-color: rgba(255, 255, 255, 0.72);

                .slideInfo {
                    display: inline-flex;
                    flex-direction: row;
                    align-items: center;
                    color: $gray;

                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;

                    .dashIcon {
                        margin-left: 8px;
                        margin-right: 8px;
                        display: block;
                        width: 27px;
                        height: 2px;
                        background-color: $gray;

                    }


                }

                .title {
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 600;
                }

                .button {
                    position: absolute;
                    width: 48px;
                    height: 48px;
                    background-color: $primary;
                    right: -48px;
                    bottom: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .arrowIcon.right {
                        mask-image: url("/assets/icons/arrow.line.right.svg");
                        display: block;
                        -webkit-mask-size: cover;
                        mask-size: cover;
                        background-color: $white;
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

    }
}

//mat-select override
.mat-select {
    background-color: white;

    &.changed {
        .mat-mdc-select-value {
            color: black;
        }
    }

    .mat-mdc-select-value {

        color: #9F9F9F;
    }

    .mat-mdc-select-arrow-wrapper {
        display: none !important;
    }

    &.productRange {
        .mat-mdc-select-value {
            text-align: center;
        }

        .mat-mdc-select-trigger {
            width: 55px;
            height: 55px;

        }





    }

    &.orderBy {
        .mat-mdc-select-value {
            margin-left: 30px;
        }

        .mat-mdc-select-trigger {
            width: 188px;
            height: 55px;

        }
    }
}

.mat-pseudo-checkbox {
    display: none !important;
}

.mat-mdc-option.mdc-list-item {
    text-align: center;

}

.ng-trigger {
    .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) {
        .mdc-list-item__primary-text {
            color: black;

        }
    }

    .mat-mdc-option {
        justify-content: center;

        .mdc-list-item__primary-text {

            font-family: Poppins;
            font-size: 20px;
            font-weight: 400;
            margin-right: 0px;
        }
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}